/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
/* green background */
.wp-block-create-block-usess {
    background: #090;
    color: white;
    padding: 20px;
}